h1{
    color: rgb(0, 30, 200);
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
}
input{
    text-align: center;
}
body{
    text-align: center;
}
button{
    text-align: center;
}